/*DIVS*/
#aboutMe{
    /*WIDTH/HEIGHT*/
    width: 100%;
    height: 100vh;

    /*POSITIONING*/
    display: flex;
    flex-direction: column;

    /*BACKGROUND*/
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
#aboutMe h3 {
    /*WIDTH/HEIGHT*/
    width: 50%;
    margin: 0;

    /*POSITIONING*/
    font-size: 2.5vw;
    text-align: center;

    /*FONT*/
    color: white;
}
#backgroundVideo {
    /*WIDTH/HEIGHT*/
    width: 70%;
    height: 100vh;

    /*POSITIONING*/
    position: absolute;
    object-fit: cover;

    /*MISC*/
    pointer-events: none;
}
#banner{
    /*WIDTH/HEIGHT*/
    width: 100%;
    height: 100vh;
    display: flex;

    /*POSITIONING*/
    justify-content: center;
    align-items: center;

    /*BACKGROUND*/
    background-color: black;
}
#content{
    /*WIDTH*/
    width: 80%;

    /*POSITIONING*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}
#copyright{
    /*POSITIONING*/
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    /*FONT*/
    text-align: center;
    color: white;
    font-size: 12px;
}
#leftSide {
    /*WIDTH/HEIGHT*/
    width: 30%;
    height: 100vh;

    /*POSITIONING*/
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    /*BACKGROUND*/
    background-image: url("/images/backgroundLeftSide.png");
    background-color: black;
    background-size: cover;

    /*MISC*/
    border-right: 2.5px solid black;
}
#mainPic {
    /*WIDTH/HEIGHT*/
    width: 75%;
    height: auto;

    /*POSITIONING*/
    margin-top: 5%;
    
    /*MISC*/
    border: .1vw white solid;
    border-radius: 50%;
}
#menu{
    /*DISPLAY*/
    display: none;
}
#rightSide {
    /*WIDTH/HEIGHT*/
    width: 70%;
    height: 300vh;

    /*POSITIONING*/
    margin-left: 30%;

    /*MISC*/
    border-left: 5px black solid;

    /*BACKGROUN*/
    background-color: whitesmoke;
}
#programmer{
    /*BACKGROUND*/
    background-image:url("/images/programmer.jpg");
}
#projects{
    /*WIDTH/HEIGHT*/
    height: 100vh;
    width: 100%;
    
    /*POSITIONING*/
    display: flex;
    flex-wrap: wrap;

    /*BACKGROUND*/
    background-color:black;
    background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

    /*MISC*/
    border-top: 5px black solid;
}

#student{
    /*BACKGROUND*/
    background-image: rgba(0,0,0,1.0), url("/images/student.jpg");
}

/*CLASSES*/
.aboutMeClasses{
    /*WIDTH/HEIGHT*/
    width: 100%;
    height: 50%;

    /*BACKGROUND*/
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.654499299719888) 40%, rgba(0,0,0,0.6516981792717087) 60%, rgba(255,255,255,0) 100%),
    url("/images/student.jpg");
    background-size: cover;
    background-position: center;

    /*POSITIONING*/
    display: flex;
    align-items: center;
    justify-content: space-around;

    /*FONT*/
    font-size: 1em;

    /*MISC*/
    overflow: hidden;
    border: .1vw solid black;
    border-collapse: collapse;
    cursor: pointer;
}
.aboutMeClassIMG{
    /*WIDTH/HEIGHT*/
    width: 15%;
    height: auto;

    /*BORDER*/
    border-radius: 50%;
    border: .1vw white solid;
}
.navButtons {
  /*FONT*/
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2vw;

  /*POSITIONING*/
  display: inline-block;
  padding: 5px 10px;
  position: relative;

  /*MISC*/
  cursor: pointer;
}
.navButtons:after {    
    /*BACKGROUND*/
  background: none repeat scroll 0 0 transparent;
  background: #fff;

  /*POSITIONING*/
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;

  /*WIDTH*/
  width: 0;
}
.navButtons:hover:after { 
/*WIDTH*/
  width: 100%; 

/*POSITIONING*/
  left: 0; 
}
.vidButton{
    /*FONT*/
    text-transform: uppercase;
    color: black;
    letter-spacing: 2.5px;

    /*BACKGROUND*/
    background-color: lightgray;

    /*POSITIONING*/
    padding: 1em;

    /*MISC*/
    cursor: pointer;
    border-radius: 60%;
    opacity: 65%;
}
.modalButton{
    /*WIDTH/HEIGHT*/
    width: 100%; 
    height: 50vh;

    /*POSITIONING*/
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.modal{
    /*FONT*/
    text-transform: none;
}
.modal a{
    /*FONT*/
    text-decoration: underline;
    color: red;
}

.project{
    /*POSITIONING*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*WIDTH/HEIGHT*/
    width: 24.4%;
    height: 25vh;

    /*MISC*/
    background-color: white;
    opacity: 0%;
    color: black;
    border: .1vw solid black;
    font-size: 1vw;
}
.git{
    /*WIDTH/HEIGHT*/
    width: 30px;
    height: 30px;

    /*MISC*/
    cursor: pointer;
}

/*HTML ELEMENT SELECTORS*/

a{
    /*FONT*/
    text-decoration: none;
}
body {
    /*WIDTH*/
    width: 100%;

    /*POSITIONING*/
    margin: 0;

    /*BACKGROUND*/
    background-color: black;

    /*FONT*/
    font-family: 'Oswald', sans-serif;
}
footer{
    /*WIDTH/HEIGHT*/
    width: 100%;
    height: auto;
    
    /*POSITIONING*/
    display: inherit;
    justify-content: space-between;
    
}
footer img{
    /*WIDTH/HEIGHT*/
    height: 5vh;
    width: auto;

    /*BORDER*/
    border: 1px black solid;
    border-radius: 50%;
}
html{
    /*MISC*/
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
    text-transform: uppercase;
}
nav {
    /*POSITIONING*/
    display: inherit;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

    /*HEIGHT*/
    height: 45vh;

    /*FONT*/
    font-size: .75vw;
}

/*
* - Code below is for the mobile hamburger menu button.
*Taken from: https://github.com/jonsuh/hamburgers
*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: white; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: white;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }

    .hamburger--spin .hamburger-inner {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .hamburger--spin .hamburger-inner::before {
          transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
        .hamburger--spin .hamburger-inner::after {
          transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      
      .hamburger--spin.is-active .hamburger-inner {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
        .hamburger--spin.is-active .hamburger-inner::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
        .hamburger--spin.is-active .hamburger-inner::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
      